#video_inicial_multiponto {
    max-width: 300px;
    height: auto;
    /* float: left; */
    /* position: relative; */
    opacity: 20%;
}



.blink {
    animation: blinker 3s linear infinite;
    color: black;
    font-family: sans-serif;
  }
  
  @keyframes blinker {
    100% {
      opacity: 40%;
    }
  }