#video_inicial_multiponto {
    /* max-width: 300px;
    height: auto; */
    /* float: left; */
    /* position: relative; */
    opacity: 20%;
}



.blink {
    animation: blinker 10s linear infinite;
    color: black;
    font-family: sans-serif;
  }
  
  @keyframes blinker {
    100% {
      opacity: 5%;
    }
  }


  .texto_rodape {
    font-family: Arial, sans-serif;
    font-size: 15px;
    text-align: left;
    letter-spacing: 0.5px;
    line-height: 24px;
    color: white;
    opacity: 60%;
  }
